@font-face {
    font-family: "Ethnocentric";
    src: url("fonts/Ethnocentric-Rg.otf");
}

@keyframes check {
    0% {transform: scale(1, 1.5);}
    25% {transform: scale(1.5, 2);}
    50% {transform: scale(2, 2.5);}
    75% {transform: scale(1.5, 2);}
    100% {transform: scale(1, 1.5);}
}

@keyframes blink {
    50% { opacity: 0; }
}

html{
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    margin:0;
    box-sizing: border-box;
    background: -webkit-linear-gradient(top, #3d6294 20%, #68b4f2 100%);
    color: white;
    min-height: 100vh;
    cursor: default;
}

.main-content{
    flex: 1;
}

*:focus{
    outline: none;
}

h2{
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2.5px;
}

h3{
    font-weight: 400;
    font-size: 25px;
}

header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    height: 80px;
    z-index: 100;
}

header .icon{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    position: absolute;
    left: 10px;
    
}

header .icon:hover{
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

header h2{
    position: relative;
    transition: all 1s ease;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

header h2:hover{
    cursor: pointer;
}

.blinking::after{
    content: "|";
    position: relative;
    top: -1px;
    font-size: 30px;
    animation: blink 1s step-start infinite;
}

.menuOpen{
    max-width: 250px !important;
}

.menu{
    display: block;
    position: fixed;
    overflow: hidden;
    max-width: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    top: 0;
    margin-top: 80px;
    transition: max-width 0.3s ease-in-out;
    z-index: 100;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

.menu li.mItem{
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: white;
}

.menu .mItem:hover{
    cursor: pointer;
}

#hoverAnimation{
    width: 250px;
    height: 52px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    cursor: pointer;
    transition: all 0.5s ease;
    pointer-events: none;
}

.main section.desc-senai {
    width: 85%;
    height: 492px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.main p, .main h3{
    position: relative;
    z-index: 3;
}

.main h3{
    font-size: 32px;
    margin-top: 0;
}

section{
    margin-top: 100px;
    width: 100%;
}

p{
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.8px;
}

.center{
    display: flex;
    width: 100%;
    justify-content: center;
}

.main img{
    width: 100%;
    height: 492px;
    position: absolute;
    z-index: 1;
    left: 0;
    opacity: 0;
    transition: all 1s ease;
}

.main div.carousel{
    position: absolute;
    width: 95%;
    height: 492px;
    display: inline-block;
    top: 100px;
}

.main img#cActive{
    opacity: 1;
}

.main .overlay{
    width: 95%;
    height: 492px;
    position: absolute;
    top: 100px;
    z-index: 1;
    background-color: black;
    opacity: 0.7;
    border-radius: 20px;
}

.carousel .cButton{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 3;
    background-color: black;
    border-radius: 100%;
    opacity: 0.5;
    top: calc(50% - 25px);
    transition: all 0.4s ease;
}

.cButton:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.cButton#backward{
    left: 10px;
}

.cButton#forward{
    right: 10px;
}

.cButton#backward img{
    transform: rotate(180deg);
    left: 0;
}

.cButton img{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    top: 5px;
    left: 7px;
    opacity: 1;
}

.carousel .cCircles{
    z-index: 4;
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cCircles .circle{
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 100%;
    margin: 0 5px;
}

.cCircles .rActive{
    position: absolute;
    background-color: white;
    transition: all 0.7s ease;
    margin-right: 52px;
}

.desc-senai img{
    border-radius: 20px;
}

.tabela-lista{
    margin-top: 30px;
    display: flex;
    list-style-position: inside;
    justify-content: space-around;
}

.info ul{
    padding: 0;
}

.info li{
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: 1px;
}

.info label{
    font-weight: 600;
}

.info a{
    color: white;
}

.info a:hover{
    font-weight: 500;
}

.tabela-lista h3{
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 26px;
    margin-top: -20px;
}

.table{
    flex-direction: row;
}

.tabela table{
    border-collapse: collapse;
}

.tabela thead tr:first-child th{
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

.tabela th{
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(200, 200, 200, 0.4);
}

.tabela td{
    padding: 10px;
    border: 1px solid black;
}

.tabela tr:nth-child(2){
    background-color: rgba(200, 200, 200, 0.2);
}

.container{
    margin-bottom: 50px;
    display: flex;
    text-align: center;
    padding: 20px 0 20px 0;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 650px;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.container:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.form{
    margin-top: 0;
}

.formulario{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
}

.formulario form{
    width: 400px;
    height: 410px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

.formulario form:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.formulario h2{
    font-size: 30px;
    letter-spacing: 2px;
}

.formulario input{
    padding: 10px;
    padding-left: 35px;
    border: 0;
    border-bottom: 1.2px solid black;
    background-color: rgba(0, 0, 0, 0);
    width: 70%;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.formulario input:hover{
    box-shadow: 0 8px 8px -8px black;
}

.formulario input:focus{
    box-shadow: 0 10px 8px -8px black;
}

.formulario img{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 16px;
    margin-left: 4px;
    border-radius: 0;
}

.formulario input:nth-child(4){
    margin-top: 20px;
}

.formulario input::placeholder{
    color: rgba(255, 255, 255, 0.8);
}

.arrow-custom{
    margin-bottom: 5px;
    position: relative;
    width: 400px;
}

.arrow-custom::after{
    content: "▼";
    font-size: 16px;
    color: white;
    position: absolute;
    top: 58%;
    right: 68px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
}

#cursos{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 8px;
    width: 70%;
    height: 40px;
    background-color: rgba(55, 55, 55, 0.2);
    border: 1px solid black;
    font-size: 15px;
    padding-left: 7px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: white;
    font-weight: 700;
}

#cursos:hover{
    border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(55, 55, 55, 0.4);
    box-shadow: 0 0 12px black;
}

#cursos:focus{
    outline: none;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    background-color: rgba(55, 55, 55, 0.7);
}

.formulario button{
    width: 45%;
    height: 40px;
    border: 0;
    background-color: #3a6daf;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.formulario:has(form:hover) button{
    background-color: #2c5283;
    color: rgba(255, 255, 255, 0.9);
    
}

.formulario button:hover{
    cursor: pointer;
    background-color: #3a6daf !important;
    color: white !important;
}

footer{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h4{
    margin: 0;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

footer p{
    font-size: 20px;
    display: inline;
    margin: 0 5px;
    font-family: "Ethnocentric";
    color: white;
    transition: all 0.2s ease-in-out;
}

footer p:hover{
    color: purple;
    font-size: 25px;
    cursor: default;
}

footer h5{
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
}

.custom-check input{
    display: none;
}

.custom-check span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
    transition: all 0.2s ease;
}

.custom-check span:hover {
    cursor: pointer;
}

.custom-check input:checked + span::after {
    content: "✔";
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 16px;
    color: #fff;
    animation: check 0.08s linear;
}

.register{
    display: none;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login{
    display: none;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.box-login{
    height: 400px !important;
}

.box-login button{
    top: 40px !important;
}

.box-login .senha{
    top: 125px !important;
}

.box-register{
    width: 500px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 32px black;
}

.box-register form{
    margin: 30px 0;
    position: relative;
}

.box-register input{
    margin-top: 30px;
    font-size: 20px;
}

.box-register input[name="nome"]{
    margin-top: 5px;
}

.box-register h2{
    color: #3a6daf;
    font-weight: 700;
    margin-top: 49px;
}

.box-register input::placeholder{
    color: rgba(0, 0, 0, 0.6);
}

.box-register input[type="text"], .box-register input[type="email"], .box-register input[type="password"]{
    position: relative;
    left: -20px;
    color: black;
    padding-left: 50px;
    width: 370px;
    height: 50px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    transition: all 0.3s ease;
}

.box-register input[type="text"]:hover, .box-register input[type="email"]:hover, .box-register input[type="password"]:hover{
    box-shadow: 0 12px 12px -12px black;
}

.box-register input[type="text"]:focus, .box-register input[type="email"]:focus, .box-register input[type="password"]:focus{
    box-shadow: 0 16px 18px -12px black;
}

.box-register .eye{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 50px;
    transition: all 0.2s ease;
}

.box-register .senha{
    top: 260px;
}

.box-register .confirmSenha{
    top: 344px;
}

.box-register .eye:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.box-register .custom-check{
    color: black;
    position: relative;
    top: 40px;
}

.box-register .custom-check input:checked + span::after {
    content: "✔";
    position: absolute;
    top: -6px;
    left: 1px;
    font-size: 22px;
    color: #3a6daf;
    animation: check 0.08s linear;
}

.regIcons{
    width: 40px;
    height: 40px;
    position: relative;
    left: 30px;
    top: 10px
}

.box-register button{
    position: relative;
    top: 80px;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: #3a6daf;
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.box-register button:hover{
    cursor: pointer;
    background-color: #2c5283;
    transform: scale(1.1);
}

body:has(.box-register input[name="senha"]:focus) .passwdRules{
    opacity: 1;
}

.passwdRules{
    opacity: 0;
    position: absolute;
    width: 270px;
    height: 200px;
    top: 250px;
    right: -280px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    transition: all 0.5s ease;
}

.passwdRules p{
    font-weight: 600;
    margin-bottom: -5px;
}

.passwdRules ul{
    list-style-type: none;
    text-align: left;
}

.passwdRules li{
    padding-top: 5px;
}

.passwdRules li::before{
    content: "✖";
    color: darkred;
    margin-left: -30px;
    margin-right: 10px;
}

.passwdRules li.checked::before{
    content: "✔" !important;
    color: green !important;
}

.message{
    position: fixed;
    top: 50px;
    right: 10px;
    height: 100px;
    background-color: rgba(245, 245, 245, 0.7);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease;
    box-shadow: 0 0 12px black;
}

.message p{
    padding: 0 50px;
    font-weight: 500;
}

.message::after{
    content: "";
    position: absolute;
    height: 2px;
    margin-top: 101px;
    transition: width 5s ease;
    background-color: black;
    width: 0;
}

.success{
    color: green;
}

.message.success::after{
    background-color: darkgreen;
}

.message.success p::before{
    content: "✔";
    color: green;
    margin-right: 15px;
}

.error{
    color: darkred;
}

.message.error::after{
    background-color: red;
}

.message.error p::before{
    content: "✖";
    color: darkred;
    margin-right: 15px;
}

.message.loaded::after{
    width: 100%;
}