@font-face {
    font-family: "Ethnocentric";
    src: url("fonts/Ethnocentric-Rg.otf");
}

@keyframes check {
    0% {transform: scale(1, 1.25);}
    25% {transform: scale(1.25, 1.5);}
    50% {transform: scale(1.5, 1.75);}
    75% {transform: scale(1.25, 1.5);}
    100% {transform: scale(1, 1.25);}
}

html{
    min-height: 100%;
}

body {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    margin:0;
    box-sizing: border-box;
    background: -webkit-linear-gradient(top, #3d6294 20%, #68b4f2 100%);
    color: white;
    min-height: 100vh;
    cursor: default;
}

body::after {
    content: '';
    display: block;
    height: 80px;
}

*:focus{
    outline: none;
}

h2{
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 2.5px;
}

h3{
    font-weight: 400;
    font-size: 25px;
}

header{
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    height: 80px;
}

header .icon{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    position: absolute;
    left: 10px;
    
}

header .icon:hover{
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

#mainButton:hover{
    cursor: pointer;
}

.menuOpen{
    max-width: 250px !important;
}

.menu{
    display: block;
    position: fixed;
    overflow: hidden;
    max-width: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    top: 0;
    margin-top: 80px;
    transition: max-width 0.3s ease-in-out;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

.menu li{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.menu a{
    font-size: 18px;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: white;
}

#hoverAnimation{
    width: 250px;
    height: 52px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    cursor: pointer;
    transition: all 0.5s ease;
}

section{
    margin-top: 100px;
    width: 100%;
}

p{
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.8px;
}

img{
    border-radius: 10px;
}


.tabela-lista{
    margin-top: 30px;
    display: flex;
    list-style-position: inside;
    justify-content: space-around;
}

.info ul{
    padding: 0;
}

.info li{
    font-weight: 300;
    margin-top: 10px;
    letter-spacing: 1px;
}

.info label{
    font-weight: 600;
}

.info a{
    color: white;
}

.info a:hover{
    font-weight: 500;
}

.tabela-lista h3{
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 26px;
    margin-top: -20px;
}

.table{
    flex-direction: row;
}

.tabela table{
    border-collapse: collapse;
}

.tabela thead tr:first-child th{
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
}

.tabela th{
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(200, 200, 200, 0.4);
}

.tabela td{
    padding: 10px;
    border: 1px solid black;
}

.tabela tr:nth-child(2){
    background-color: rgba(200, 200, 200, 0.2);
}

.container{
    margin:0;
    display: flex;
    text-align: center;
    padding: 20px 0 20px 0;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 650px;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.container:hover{
    background-color: rgba(0, 0, 0, 0.4);
}

.form{
    margin-top: 0;
}

.formulario{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
}

.formulario form{
    width: 400px;
    height: 410px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

.formulario form:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.formulario h2{
    font-size: 30px;
    letter-spacing: 2px;
}

.formulario input{
    padding: 10px;
    padding-left: 35px;
    border: 0;
    border-bottom: 1.2px solid black;
    background-color: rgba(0, 0, 0, 0);
    width: 70%;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.formulario input:hover{
    box-shadow: 0 8px 8px -8px black;
}

.formulario input:focus{
    box-shadow: 0 10px 8px -8px black;
}

.formulario img{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 16px;
    margin-left: 4px;
    border-radius: 0;
}

.formulario input:nth-child(4){
    margin-top: 20px;
}

.formulario input::placeholder{
    color: rgba(255, 255, 255, 0.8);
}

.arrow-custom{
    margin-bottom: 5px;
    position: relative;
    width: 400px;
}

.arrow-custom::after{
    content: "▼";
    font-size: 16px;
    color: white;
    position: absolute;
    top: 58%;
    right: 68px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
}

#cursos{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 8px;
    width: 70%;
    height: 40px;
    background-color: rgba(55, 55, 55, 0.2);
    border: 1px solid black;
    font-size: 15px;
    padding-left: 7px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: white;
    font-weight: 700;
}

#cursos:hover{
    border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(55, 55, 55, 0.4);
    box-shadow: 0 0 12px black;
}

#cursos:focus{
    outline: none;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    background-color: rgba(55, 55, 55, 0.7);
}

.formulario button{
    width: 45%;
    height: 40px;
    border: 0;
    background-color: #3a6daf;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.formulario:has(form:hover) button{
    background-color: #2c5283;
    color: rgba(255, 255, 255, 0.9);
    
}

.formulario button:hover{
    cursor: pointer;
    background-color: #3a6daf !important;
    color: white !important;
}

footer{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 80px;
    bottom: 0;
}

footer h4{
    margin: 0;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

footer p{
    font-size: 20px;
    display: inline;
    margin: 0 5px;
    font-family: "Ethnocentric";
    color: white;
    transition: all 0.2s ease-in-out;
}

footer p:hover{
    color: purple;
    font-size: 25px;
    cursor: default;
}

footer h5{
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
}

.custom-check input{
    display: none;
}

.custom-check span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
    transition: all 0.2s ease;
}

.custom-check input:checked + span::after {
    content: "✔";
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 16px;
    color: #fff;
    animation: check 0.09s linear;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.box-register{
    width: 500px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.box-register form{
    margin: 30px 0;
    position: relative;
}

.box-register input{
    margin-top: 30px;
    font-size: 20px;
}

.box-register input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

.box-register input[type="text"], .box-register input[type="email"], .box-register input[type="password"]{
    color: white;
    padding-left: 25px;
    width: 400px;
    height: 50px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    transition: all 0.3s ease;
}

.box-register input[type="text"]:hover, .box-register input[type="email"]:hover, .box-register input[type="password"]:hover{
    box-shadow: 0 12px 12px -12px black;
}

.box-register input[type="text"]:focus, .box-register input[type="email"]:focus, .box-register input[type="password"]:focus{
    box-shadow: 0 16px 18px -12px black;
}

.box-register .eye{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 50px;
    transition: all 0.2s ease;
}

.box-register .senha{
    top: 280px;
}

.box-register .confirmSenha{
    top: 364px;
}

.box-register .eye:hover{
    cursor: pointer;
    transform: scale(1.1);
}